[core]
	editor = emacs
	excludesfile = ~/.gitignore_global
[user]
	name = Eric Kincl
	email = eric@kincl.net
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
